 <nav class="bg-indigo-600">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 py-2">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= link_to "Inicio", root_path, class: ["text-dark rounded-md px-3 py-2 text-sm font-medium", ("bg-indigo-700" if request.path == root_path)] %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <div class="relative ml-3">
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" tabindex="-1">
              <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'block px-4 py-2 text-sm text-gray-700' %>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
